.card {
    margin-top: 1.5rem;
    width: 24rem;
}
.cardHeader {
    height: 24rem;
    position: relative;
}
.cardHeader__img {
    height: 250px;
    object-fit: cover;
}
.cardFooter{
    padding-top: 0;
}